.card-border {
    border-radius: 0;
}

.btn-footer {
    display: flex;
    justify-content: space-between;
    padding: 0; 
}

.btn-buy {
    width: 50%;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    background-color: #9de167;
}

.btn-price {
    width: 50%;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    font-weight: bold;
    background-color: #dedddc;
}